.shelf-body{
  padding-top: 40px;
}

.shelf-body .nodata{
  margin-bottom: 25px;
}

.shelf-img{
  background: url(../images/bookshelf.png) no-repeat;
  background-size: 88%;
  background-position: bottom center;
  width: 100%;
  height: 180px;
  display: block;
  content: "";
  margin-top: 136px;
}

.shelf-row a{
  display: block;
  text-decoration: none;
  outline: none;
}

.shelf-row img{
  width: 150px;
  height: 194px;
  box-shadow: 5px 0px 15px #666;

  transform-style: preserve-3d;
  transition: 1s;
  transform:rotateY(-40deg);

}

.shelf-row img:hover{
  transform:rotateY(0deg);
}

.img-generate{
  margin-top: 80px;
  text-align: center;
}

.img-preview{
  text-align: right;
}

.img-preview img{
  border: 1px solid #ccc;
  width: 150px;
  height: 194px;
}
